{% extends 'QAapp/navbar.html' %}
{% block title %}Detail Page{% endblock %}
{% block content %}

<title>Detail Page</title>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

    <div class="card">
        <div class="card-body">
            <h2>{{question.title}}</h2>
            <p>
            <span>{{question.user}}</span>
            <span>{{question.add_time | date:'d.m.y H:i:s'}}</span>            
            </p>
            <p>{{ question.detail }}</p>
        </div>
    </div>
        <br>
        
        <!-- Answer Section -->
        <h3 class="ml-2">Answers</h3>
        <hr>
    <div class=" row ml-2">
        <div class="card">
            <div class="card-body">
                {% for answer in answers%}
              <p class="card-text">{{answer.answer}}</p>
              <P>
                <div class="upvote">
                    <strong class="upvote-count-{{answer.id}}">{{answer.upvote_set.count}}</strong><br/>
                    <span class="text-success">
                        <i class="fa fa-arrow-up fa-2x upvote-click" data-answer="{{answer.id}}"></i>
                    </span>
                </div>
                <a href="#" class="btn">Up vote</a>
                <a href="#" class="btn">Down vote</a>
            </P>
              <p><span>{{answer.user}}</span>
                <span>{{answer.add_time | date:'d.m.y H:i:s'}}</span>
            </p>
              <!-- <a href="#" class="card-link">Admin <span>{{answer.add_time}}</span></a> -->
              <hr>
              {% endfor %}
            </div>
        </div>
    </div>
    <br>

<!-- form for post answers -->

    <div>
        <div class="card">
            <div class="card-body">
        <form action="" method="POST">
            {% csrf_token %}
            {{form.as_p}}
        <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
        </div>
    </div>

   
<script>
        $(document).ready(function(){
            $(".save-comment").on('click',function(){
                var _answerid=$(this).data('answer');
                var _comment=$(".comment-text-"+_answerid).val();
                // Ajax
                $.ajax({
                    url:"/save-comment",
                    type:"post",
                    data:{
                        comment:_comment,
                        answerid:_answerid,
                        csrfmiddlewaretoken:"{{csrf_token}}"
                    },
                    dataType:'json',
                    beforeSend:function(){
                        $(".save-comment").addClass('disabled').text('saving...');
                    },
                    success:function(res){
                        if(res.bool==true){
                            $(".comment-text-"+_answerid).val('');
                            // Append Element
                            var _html='<div class="card mb-2 animate__animated animate__bounce">\
                            <div class="card-body">\
                                <p>'+_comment+'</p>\
                                <p>\
                                    <a href="#">{{request.user}}</a>\
                                </p>\
                            </div>\
                        </div>';
                        $(".comment-wrapper-"+_answerid).append(_html);
                        var prevCount=$(".comment-count-"+_answerid).text();
                        $(".comment-count-"+_answerid).text(parseInt(prevCount)+1);
                        }
                        $(".save-comment").removeClass('disabled').text('Submit');
                    }
                });
            });
    
            // Upvote
            $(".upvote-click").on('click',function(){
                var answerid=$(this).data('answer');
                // Ajax
                $.ajax({
                    url:"/save-upvote",
                    type:"post",
                    data:{
                        answerid:answerid,
                        csrfmiddlewaretoken:"{{csrf_token}}"
                    },
                    dataType:'json',
                    success:function(res){
                        var _prevupvote=$(".upvote-count-"+answerid).text();
                        if(res.bool==true){
                            $(".upvote-count-"+answerid).text(parseInt(_prevupvote)+1);
                        }
                    }
                });
            });
        });
    </script>

{% endblock %}